<h1 class="pagetitle">Virksomheder</h1>

<!-- Formular til at tilføje en ny virksomhed -->
<div class="container mt-3">
  <div class="row mb-2 align-items-center">
    <div class="col-2 text-end"><label for="name">Navn:</label></div>
    <div class="col-4"><input type="text" class="form-control" id="name" [(ngModel)]="company.name" name="name" required></div>
  </div>

  <div class="row mb-2 align-items-center">
    <div class="col-2 text-end"><label for="educationalBranch">Uddannelsesretning:</label></div>
    <div class="col-4"><input type="text" class="form-control" id="educationalBranch" [(ngModel)]="company.educationalBranch" name="educationalBranch"></div>
  </div>

  <div class="row mb-2 align-items-center">
    <div class="col-2 text-end"><label for="homepage">Hjemmeside:</label></div>
    <div class="col-4"><input type="text" class="form-control" id="homepage" [(ngModel)]="company.homepage" name="homepage" required></div>
  </div>

  <div class="row mb-2 align-items-center">
    <div class="col-2 text-end"><label for="notes">Noter:</label></div>
    <div class="col-4"><input type="text" class="form-control" id="notes" [(ngModel)]="company.notes" name="notes"></div>
  </div>

  <div class="row mb-2 align-items-center">
    <div class="col-2 text-end"><label for="companySize">Virksomhedsstørrelse:</label></div>
    <div class="col-3"><input type="number" class="form-control" id="companySize" [(ngModel)]="company.companySize" name="companySize"></div>
    <div class="col-2">
      <button class="btn btn-success rounded-pill" (click)="createCompany()">Opret</button>&nbsp;
      <button class="btn btn-warning rounded-pill" (click)="updateCompany()">Opdater</button>
    </div>
  </div>
</div>

<br><br>

<!-- Tabel til at vise eksisterende virksomheder -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Uddannelsesretning</th>
      <th>Hjemmeside</th>
      <th>Noter</th>
      <th>Virksomhedsstørrelse</th>
      <th>Handling</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.name }}</td>
      <td>{{ company.educationalBranch }}</td>
      <td>{{ company.homepage }}</td>
      <td>{{ company.notes }}</td>
      <td>{{ company.companySize }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteCompany(company.id)">Slet</button>&nbsp;
        <button class="btn btn-primary" (click)="editCompany(company)">Rediger</button>
      </td>
    </tr>
  </tbody>
</table>
