<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <a href="/profile"><img
                    src="https://images.unsplash.com/photo-1474377075108-db02df10a089?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="d-block w-100 c-img" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="black-text">Min profilside</h5>
                <p class="black-text">På denne side kan du læse mere om mig</p>
            </div>
        </div>
        <div class="carousel-item c-item">
            <a href="/products"><img
                    src="https://images.unsplash.com/photo-1496950866446-3253e1470e8e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="d-block w-100 c-img" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="black-text">Legepladsen</h5>
                <p class="black-text">Her undersøger jeg, hvordan jeg får implementeret RESTFUL API og lært om Angular.
                </p>
            </div>

        </div>
        <div class="carousel-item c-item">
            <a href="/companies"><img
                    src="https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="d-block w-100 c-img" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="white-text">Karrieredag</h5>
                <p class="white-text">Både noter om de forskellige firmaer på karrieredagen, og samtidig øver jeg mig i
                    Angular og API</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>